<h1>This a test page to display all users</h1>
<h2>Users:</h2>
<p></p>
<% for(const user of users) { %>
  <div class='user-container'>
    <ul>
      <p><b>FULL NAME: </b><%= user.firstname + '' + user.lastname %></p>
      <p><b>USERNAME: </b><%= user.username%></p>
      <p><b>PASSWORD: </b><%= user.password%></p>
      <p><b>MEMBER? </b><%= user.membership%></p>
      <a href=<%='/user/'+user.id%>>Edit</a>
      <a href=<%='/user/'+user.id+'/delete'%>>Delete</a>
    </ul>

  </div>
<% } %>

<a href="/">return home</a>