<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="header-container">
      <h1>Members Only</h1>
      <p>A secret forum for members only.</p>
      <div id="btn-container">
        <a href="/allusers" class="button" >All Users</a>
        <a href="/user/create" class="button" >Sign Up</a>
        <% if (user && user.membership === false) {%>
          <a href="/memberform" class="button" >Join the Club...</a>
        <%}%>
      </div>
    </div>

    <% if (user) {%>
      <h1>Welcome back <%= user.username %></h1>
      <a href="/log-out">LOG OUT</a>
      <h2>Post a message</h2>
      <form action="/post-message" method="POST">
        <label for="msg"></label>
        <input name="msg" placeholder="enter your text here" type="text" />
        <button>Post</button>
      </form>
    <% } else { %>
      <h2>please log in</h2>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
      </form>
    <%}%>
    <p></p>
    
    <div id="forum-container">
      <h2>Forum</h2>

      <% if (user && user.membership === true) { %>
        <% for (const msg of messages) { %>
          <div id="msg-container">
            <h4><%= msg.username %></h4>
            <div class="date"><i><%= msg.date %></i></div>
            <span class="text">
              <%= msg.text %>
            </span>
          </div>
        <% } %>
      <% } else { %>
        <% for (const msg of messages) { %>
          <div id="msg-container">
            <h4>Username hidden</h4>
            <div class="date"><i>Date hidden</i></div>
            <span class="text">
              <%= msg.text %>
            </span>
          </div>
        <% } %>
      <% } %>
    </div>

  </body>
</html>